<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground 2</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome!</h1>
    <style>
        h1{
        display: flex;
        justify-content: center;
    }
    .boxes{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .box {
        width: 250px;
        height: 250px;
        background-color: {{color}};
        margin: 10px;
        border: solid;
        border-radius: 10%;
    }
    </style>
    <div class="boxes">
        {% for i in range(count) %}
            <div class="box"></div>
        {% endfor %}
    </div>
</body>
</html>