<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground 1</title>
</head>
<body>
    <h1>Welcome!</h1>
    <style>
        h1{
        display: flex;
        justify-content: center;
    }
    .boxes{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .box {
        width: 250px;
        height: 250px;
        background-color: cyan;
        margin: 10px;
        border: solid;
        border-radius: 10%;
    }
    </style>
    <div class="boxes">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>

</body>
</html>